/* Paleta Neon */
:root {
    --neon-pink: #ff00ff;
    --neon-blue: #00ffff;
    --neon-green: #39ff14;
    --neon-yellow: #fcf403;
    --neon-orange: #ff6700;
    --neon-purple: #9d00ff;
    --neon-red: #ff073a;
  
    /* Tons complementares e sombras */
    --bg-dark: #0a0a0a;
    --neon-white: #ffffff;
    --neon-shadow: 0 0 8px;
  
    /* Gradientes */
    --gradient-pink-blue: linear-gradient(90deg, #ff00ff, #00ffff);
    --gradient-green-yellow: linear-gradient(90deg, #39ff14, #fcf403);
  }